<ul class="comments" xmlns="http://www.w3.org/1999/html">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail"
                     src="{{ comment.author.gravatar(size=40) }}">
{#                <img class="img-rounded profile-thumbnail" height="40" width="40" src="{{ url_for('static', filename='avatar.png') }}">#}
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
            <div class="comment-author">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    {{ comment.author.username }}
                </a>
            </div>
            <div class="comment-body">
                {% if comment.disabled %}
                <p class="alert alert-warning">
                    <i>这条评论被管理员禁止.</i>
                </p>
                {% endif %}
                {% if moderate or not comment.disabled %}
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="comment-footer">
                {% if not moderate and current_user == comment.author %}
                <a href="{{ url_for('.delete_comment', comment_id=comment.id) }}">
                    <span class="label label-primary">del</span>
                </a>
                {% endif %}
            </div>
            {% if moderate %}
                <br />
                {% if comment.disabled %}
                <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_enable',
                        id=comment.id, page=page) }}">Enable</a>
                {% else %}
                <a class="btn btn-success btn-xs" href="{{ url_for('.moderate_disable',
                        id=comment.id, page=page) }}">Disable</a>
                {% endif %}
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>